<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Une erreur est survenue</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
           {% endblock %}
</head>
<body>
<h1>Une erreur est survenue</h1>
<div>
    Vous pouvez aussi vous rendre sur la <a href={{ path('login') }}> page d’accueil</a>.
    Merci pour votre compréhension.
</div>
</body>
</html>

