@import url('//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css');


html, body {
    margin: 10px;
    color: white !important;
    background-color: #00326e !important;
    text-align: center;
    font-size: 15px !important;
}

a {
    color:#c89108 !important;
}

.btn{
    color: white !important;
}
.main{
    color:white !important;
}
.container{
    color: white;
}

.features-boxed .item .icon{
    padding:30px;
    color: #c89108;
    font-size:60px;

}


.panel-heading{
    background-color: #c89108 !important;
}

.panel-body{
    background-color: #00326e  !important;
}