{% extends "BGKTAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <div class="wrapper">
            <form class="form-signin" action="{{ path('forgot_password') }}" method="post">
                <h3 class="form-signin-heading text-center">Mot de passe oublié</h3> <br/><br/>
                <p>Veuillez saisir votre adresse mail : </p><br/>
                <input type="text" class="form-control" name="_email" placeholder="Adresse mail" required autofocus="" /><br/><br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Je souhaite réinitialiser mon mot de passe</button>
            </form>
        </div>
    </div>
{% endblock %}

