{% extends "BGKTCoreBundle::userLayout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/userPagesStyles/userUploadPage.css") }}"/>
    {{ parent() }}
{% endblock %}
{# block user affiche l'acceuil pour les utilisateurs  #}
{% block user %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="container">
            <div class="intro"><i class="glyphicon glyphicon-time icon"></i>
                <h2 class="text-center">Vous êtes sur l'espace agenda</h2>


            </div>

            <div class="embed-responsive embed-responsive-16by9">

                <iframe class="embed-responsive-item"
                        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=Europe%2FParis"
                        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>


        </div>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
        {# TO DO : Coder la partie pour les étudiants#}
    {% endif %}
{% endblock %}