{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <div class="wrapper">
            <h3>Voici votre identifiant :</h3>
            <ul>
                <li> Identifiant  :  {{ username }} </li>
            </ul>

            <p>Cet identifiant est nécessaire pour accéder à l'interface d'administration. <br/>
                </p>


        </div>
    </div>


{% endblock %}

